.box__card{
    box-shadow: 6px 4px 11px rgb(212, 212, 212);
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
}

.adoption--social,
.text--social{
    font-family: 'Poppins', sans-serif;
}

.mapFull{
    flex: 100%;
    max-width: 100%;
}

.containerL{
    margin: 40px 0 0;
}
.margin--zero{
    margin: 0 auto;
}

footer{
    width: 100%;
}

@media screen and (max-width: 767px){
    .row{
        justify-content: center;
    }
}

@media screen and (max-width: 575px){
    .container ul{
        padding: 0;
    }

    .centerFlex{
        justify-content: center;
    }
}